* {
box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.align {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #003A70;
    padding: 10px;
    min-width: 400px;
    position: sticky;
}

#header-wrap {
   max-width: 1200px;
   margin: auto;
}

#top-header {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.simmons {
    font-size: 30px;
    font-weight: 600;
    color: white;
    font-family: Didot,sans-serif;

}

.university {
    font-size: 10px;
     color: white;
    letter-spacing: 7px;
     font-family: Didot,sans-serif;
     margin-left: 2px;
}
 #header #header-wrap #top-header #more-info #info-section #simmons-edu li a {
    font-family: Didot,sans-serif;
 }

 #header #more-info #info-section li a {
    color: white;
}

#for {
  color: white;
}

#simmons-edu {
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: bold;
    display:inline;
}

#info-section li, #info-section #hidden{
  display: inline;
}

.align #section2 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.align #section2 .my-image {
    /* position: relative; */
    width: 400px;
}
/* Introduction */
.align #section2 .overlap1 {
    position: relative;
    left: 26px; 
    z-index: 200;
    background-color: white;
    padding: 140px 69px;
     margin-top: -20px;
}
/* Ranking */
.align #section3 .overlap2 {
    position: relative;
    z-index: 100;
    right: 30px; 
    background-color: white;
    margin-bottom: 18px;
    margin-top: -20px;
    padding: 140px 69px;
}
/* Curriculum */
.align #section4 .overlap3 {
    position: relative;
    left: 40px; 
    z-index: 100;
    background-color: white;
    margin-top: -20px;
    padding: 100px 69px;
    margin-bottom: 18px;
}
 
/* Honors */
.align #section5 .overlap4 {
    position: relative;
    right: 26px; 
    z-index: 100;
    background-color: white;
    margin-bottom: 18px;
    margin-top: -20px;
    padding:  40px 80px 80px 80px;
}
/*Founders day  */
.align #section6 .overlap5 {
    position: relative;
    left: 26px; 
    z-index: 100;
    background-color: white;
    margin-top: -20px;
    padding: 100px 80px 80px 80px;
    height: 400px;
}

/* Soiree */
.align #section7 .overlap6 {
    position: relative;
    z-index: 100;
    background-color: white;
    right: 40px; 
    margin-bottom: 18px;
    margin-top: -20px;
    padding:  120px 80px 80px 80px;
}

/* Residence life */
.align #section8 .overlap7 {
    position: relative;
    left: 26px; 
    z-index: 200;
    background-color: white;
     margin-bottom: 18px;
    margin-top: -20px;
    padding:  120px 80px 80px 80px;
}
/* Athletics */
.align #section9 .overlap8 {
    position: relative;
    z-index: 200;
    background-color: white;
    right: 20px; 
    margin-bottom: 18px;
    margin-top: -20px;
    padding:  120px 80px 80px 80px;
}
/* Aluminus */
.align #section10 .overlap9 {
    position: relative;
    left: 26px; 
    z-index: 200;
    background-color: white;
     background-color: white;
     margin-bottom: 18px;
    margin-top: -20px;
    padding:  120px 80px 80px 80px;
}

.align #section11 .overlap10 {
    position: relative;
    z-index: 200;
    background-color: white;
     right: 20px; 
    margin-bottom: 18px;
    margin-top: -20px;
    padding:  120px 80px 80px 80px;
}

#more-info #info-section li a {
    text-decoration: none;
    color: black;
}

#bottom-navbar {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: space-between;
    /* margin-left: 60px; */
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

.div-box {
    width: 400px;
    max-height: 500px;
    box-shadow: 5px 10px 18px #888888;
}

/* come back here */
hr {
  /* border-bottom: 2px solid #34618B; */
  /* margin-block: 15px; */
  /* border: white; */
 /* border-top: 1px solid rgb(33, 25, 25); */
 /* background-color: rgb(33, 25, 25); */
 margin-top: 20px;
 margin-bottom: 20px;
}

#cover-photo {
    width: 100%;
}


h3 {
    margin-left: 20px;
}

 #section1 {
    position: relative;
} 

#section1 #bottom-header #button-list {
   display: flex;
   gap: 30px;
   max-width: 85vw;
   flex-wrap: wrap;
   justify-content: flex-end;
}

 #section1 #bottom-header {
    position: absolute;
    top: 40px;
    right: 40px;  
} 

 #section1 #bottom-header #button-list li a {
    background-color: white;
     text-decoration: none;
      border: 2px solid #C7D6E5;
    font-family: Helvetica, serif;
     font-size: 14px;
     color: #003A70;
     padding: 10px 30px;
 }
 #section1 #bottom-header #button-list li a:hover {
    background-color: #C7D6E5;
 }

.image {
    width: 50%;
    /* margin-left: 10px; */
}

.my-image {
     width: 50%;
}

.div-box, .paragraph {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#degree {
    color: #E6BB00;
    min-width: 280px;
}

#degree:hover {
    color: white;
}

#bottom-navbar #navbar #other {
  display: flex;
}

#other li a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

#header #top-header #more-info #info-section li a {
    margin-right: 20px;
}

#section2, #section3, #section4, #section5, #section6, #section7, #section8, #section9, #section10, #section11 {
    display: flex;
    width: 80%;
    /* justify-content: center; */
    max-width: 1800px;
    margin-bottom: 50px;
    margin-left: 40px;
}

 .paragraph {
    padding: 20px 20px 0px 20px;
    font-size: 12px;
 }

 .tradition {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 5px;
 }

.website {
    color:  #0A60B0;
    text-decoration: none;
}

.website:hover {
  color: black;
}

.click-here {
    color:#003A70;
    text-decoration: none;
}

.click-here:hover {
    color: black;
}

.top-hr {
   display: none;
}

.copyright {
   font-family: Georgia, 'Times New Roman', Times, serif;
}

@media(max-width:700px) {
 #navbar {
    display: none;
 }
 #info-section {
    border-bottom: 2px solid #0A60B0;
    padding-bottom: 15px;
    margin-bottom: 10px;
    flex-grow: 1;
 }
 #simmons-edu {
    position: absolute;
    left: 10px;
    top: 5px;
 }

 .top-hr {
    display: block;
 }

 hr {
  display: none;
 }

 #degree {
  margin-top: -120px;
  /* margin-left: 10px; */
  font-size: 15px;
 }

 .paragraph, .tradition {
    padding: 10px;
    font-size: 12px;
 }
 
 .simmons {
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 1px;
 }
 .university {
letter-spacing: 3px;
 }


 #info-section #hidden {
    display: none;
 }
 #section2, #section3, #section4, #section5, #section6, #section7, #section8, #section9, #section10, #section11 {
  flex-wrap: wrap;
  display: block;
 }
}
